In [1]:
import pandas as pd 
import os
import json
import pymysql
import requests
import plotly.express as px 
import plotly.graph_objects as go

In [3]:
#Agg_trans
path_1="C:/Users/kishore kumar/OneDrive/Desktop/vs code/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_list_1=os.listdir(path_1)

column_1={"State":[],"Year":[],"Quaters":[],"Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}
for i in agg_list_1: #states
    p_i=path_1+i+"/"
    Agg_yr=os.listdir(p_i) #open states
    for j in Agg_yr: #years
        p_j=p_i+j+"/"
        Agg_quaters=os.listdir(p_j)  #open years
        for k in Agg_quaters: #quaters
            p_k=p_j+k
            data_quaters=open(p_k,"r") #open quaters
            A=json.load(data_quaters) # pull datas from quaters
            for z in A["data"]["transactionData"]:
                Name=z["name"]
                count=z["paymentInstruments"][0]["count"]
                amount=z["paymentInstruments"][0]["amount"]
                column_1["Transaction_type"].append(Name)
                column_1["Transaction_count"].append(count)
                column_1["Transaction_amount"].append(amount)
                column_1["State"].append(i)
                column_1["Year"].append(j)
                column_1["Quaters"].append(int(k.strip(".json")))

Agg_trans=pd.DataFrame(column_1)

Agg_trans["State"]=Agg_trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_trans["State"]=Agg_trans["State"].str.replace("-"," ")
Agg_trans["State"]=Agg_trans["State"].str.title()
Agg_trans["State"]=Agg_trans["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [6]:
#Agg_user
path_2="/Users/kishore kumar/OneDrive/Desktop/vs code/Phonepe/pulse/data/aggregated/user/country/india/state/"
Agg_list_2=os.listdir(path_2)

column_2={"State":[],"Year":[],"Quaters":[],"Brand":[],"Transaction_count":[],"Percentage":[]}
for i in Agg_list_2:
    p_i=path_2+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_quaters=os.listdir(p_j)
        for k in Agg_quaters:
            p_k=p_j+k
            Data_quaters=open(p_k,"r")
            B=json.load(Data_quaters)

            try:
                for z in B["data"]["usersByDevice"]:
                    column_2["Brand"].append(z["brand"])
                    column_2["Transaction_count"].append(z["count"])
                    column_2["Percentage"].append(float(z["percentage"]))
                    column_2["State"].append(i)
                    column_2["Year"].append(j)
                    column_2["Quaters"].append(int(k.strip(".json")))                            
            except:
                pass

Agg_users=pd.DataFrame(column_2)

Agg_users["State"]=Agg_users["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_users["State"]=Agg_users["State"].str.replace("-"," ")
Agg_users["State"]=Agg_users["State"].str.title()
Agg_users["State"]=Agg_users["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [9]:
#Map_Trans
path_3="C:/Users/kishore kumar/OneDrive/Desktop/vs code/Phonepe/pulse/data/map/transaction/hover/country/india/state/"
Map_list_1=os.listdir(path_3)

column_3={"State":[],"Year":[],"Quaters":[],"District":[],"Transaction_count":[],"Transaction_amount":[]}
for i in Map_list_1:
    p_i=path_3+i+"/"
    Map_yr=os.listdir(p_i)
    for j in Map_yr:
        p_j=p_i+j+"/"
        Map_quaters=os.listdir(p_j)
        for k in Map_quaters:
            p_k=p_j+k
            Data_quaters=open(p_k,"r")
            C=json.load(Data_quaters)

            for z in C["data"]["hoverDataList"]:
                column_3["District"].append(z["name"])
                column_3["Transaction_count"].append(z["metric"][0]["count"])
                column_3["Transaction_amount"].append(z["metric"][0]["amount"])
                column_3["State"].append(i)
                column_3["Year"].append(j)
                column_3["Quaters"].append(int(k.strip(".json")))

Map_trans=pd.DataFrame(column_3)

Map_trans["State"]=Map_trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_trans["State"]=Map_trans["State"].str.replace("-"," ")
Map_trans["State"]=Map_trans["State"].str.title()
Map_trans["State"]=Map_trans["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [12]:
#Map_user
path_4="C:/Users/kishore kumar/OneDrive/Desktop/vs code/Phonepe/pulse/data/map/user/hover/country/india/state/"
Map_list_2=os.listdir(path_4)

column_4={"State":[],"Year":[],"Quaters":[],"District":[],"Regsistered_User":[],"App_Opens":[]}
for i in Map_list_2:
    p_i=path_4+i+"/"
    Map_yr=os.listdir(p_i)
    for j in Map_yr:
        p_j=p_i+j+"/"
        Map_quaters=os.listdir(p_j)
        for k in Map_quaters:
            p_k=p_j+k
            Data_quaters=open(p_k,"r")
            D=json.load(Data_quaters)

            for z in D["data"]["hoverData"].items():
                column_4["District"].append(z[0])
                column_4["Regsistered_User"].append(z[1]["registeredUsers"])
                column_4["App_Opens"].append(z[1]["appOpens"])
                column_4["State"].append(i)
                column_4["Year"].append(j)
                column_4["Quaters"].append(int(k.strip(".json")))

Map_user=pd.DataFrame(column_4)

Map_user["State"]=Map_user["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_user["State"]=Map_user["State"].str.replace("-"," ")
Map_user["State"]=Map_user["State"].str.title()
Map_user["State"]=Map_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [15]:
#Top_trans
path_5="C:/Users/kishore kumar/OneDrive/Desktop/vs code/Phonepe/pulse/data/top/transaction/country/india/state/"
Top_list_1=os.listdir(path_5)

column_5={"State":[],"Year":[],"Quaters":[],"Pincodes":[],"Transaction_count":[],"Transaction_amount":[]}
for i in Top_list_1:
    p_i=path_5+i+"/"
    Top_yr=os.listdir(p_i)
    for j in Map_yr:
        p_j=p_i+j+"/"
        Top_quaters=os.listdir(p_j)
        for k in Top_quaters:
            p_k=p_j+k
            Data_quaters=open(p_k,"r")
            E=json.load(Data_quaters)
            
            try:
                for z in E["data"]["pincodes"]:
                    Pincode=z["entityName"]
                    column_5["Pincodes"].append(int(Pincode))
                    column_5["Transaction_count"].append(z["metric"]["count"])
                    column_5["Transaction_amount"].append(z["metric"]["amount"])
                    column_5["State"].append(i)
                    column_5["Year"].append(j)
                    column_5["Quaters"].append(int(k.strip(".json")))
            except:
                pass

Top_trans=pd.DataFrame(column_5)

Top_trans["State"]=Top_trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_trans["State"]=Top_trans["State"].str.replace("-"," ")
Top_trans["State"]=Top_trans["State"].str.title()
Top_trans["State"]=Top_trans["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [18]:
#top_user
path_6="C:/Users/kishore kumar/OneDrive/Desktop/vs code/Phonepe/pulse/data/top/user/country/india/state/"
Top_list_2=os.listdir(path_6)

column_6={"State":[],"Year":[],"Quaters":[],"Pincodes":[],"RegisteredUser":[]}
for i in Top_list_2:
    p_i=path_6+i+"/"
    Top_yr=os.listdir(p_i)
    for j in Top_yr:
        p_j=p_i+j+"/"
        Top_quaters=os.listdir(p_j)
        for k in Top_quaters:
            p_k=p_j+k
            Data_quaters=open(p_k,"r")
            F=json.load(Data_quaters)

            for z in F["data"]["pincodes"]:
                column_6["Pincodes"].append(z["name"])
                column_6["RegisteredUser"].append(z["registeredUsers"])
                column_6["State"].append(i)
                column_6["Year"].append(j)
                column_6["Quaters"].append(int(k.strip(".json")))

Top_user=pd.DataFrame(column_6)

Top_user["State"]=Top_user["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_user["State"]=Top_user["State"].str.replace("-"," ")
Top_user["State"]=Top_user["State"].str.title()
Top_user["State"]=Top_user["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [20]:
#sql

In [21]:
#sql
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22")

cursor=myconnection.cursor()

#Create Database
cursor.execute("create database Phonepe")

1

In [22]:
#Table Aggregated_transaction
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

cursor.execute("create table Aggregated_transaction(State varchar(100),Year int,Quaters int,Transaction_type varchar(30),Transaction_count bigint,Transaction_amount bigint)")

sql="insert into Aggregated_transaction(State,Year,Quaters,Transaction_type,Transaction_count,Transaction_amount)values(%s,%s,%s,%s,%s,%s)"

for i in range(len(Agg_trans)):
    cursor.execute(sql,tuple(Agg_trans.iloc[i]))
    myconnection.commit()


Aggregated_transaction=pd.read_sql_query("select * from Aggregated_transaction",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\919183957.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Aggregated_transaction=pd.read_sql_query("select * from Aggregated_transaction",myconnection)

In [24]:
#Table Aggregated_user
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

cursor.execute("create table Aggregated_user(State varchar(100),Year int,Quaters int,Brand varchar(30),Transaction_count bigint,Percentage float)")

sql="insert into Aggregated_user(State,Year,Quaters,Brand,Transaction_count,Percentage)values(%s,%s,%s,%s,%s,%s)"

for i in range(len(Agg_users)):
    cursor.execute(sql,tuple(Agg_users.iloc[i]))
    myconnection.commit()

Aggregated_user=pd.read_sql_query("select * from Aggregated_user",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1449012745.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Aggregated_user=pd.read_sql_query("select * from Aggregated_user",myconnection)

In [26]:
#Table Map_transaction
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

cursor.execute("create table Map_transaction(State varchar(100),Year int,Quaters int,District varchar(100),Transaction_count bigint,Transaction_amount bigint)")

sql="insert into Map_transaction(State,Year,Quaters,District,Transaction_count,Transaction_amount)values(%s,%s,%s,%s,%s,%s)"

for i in range(len(Map_trans)):
    cursor.execute(sql,tuple(Map_trans.iloc[i]))
    myconnection.commit()

Map_transaction=pd.read_sql_query("select * from Map_transaction",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\2551557805.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Map_transaction=pd.read_sql_query("select * from Map_transaction",myconnection)

In [28]:
#Table Map_user
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

cursor.execute("create table Map_user(State varchar(100),Year int,Quaters int,District varchar(100),Regsistered_User bigint,App_Opens bigint)")

sql="insert into Map_user(State,Year,Quaters,District,Regsistered_User,App_Opens)values(%s,%s,%s,%s,%s,%s)"

for i in range(len(Map_user)):
    cursor.execute(sql,tuple(Map_user.iloc[i]))
    myconnection.commit()

Map_user=pd.read_sql_query("select * from Map_user",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\3082844268.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Map_user=pd.read_sql_query("select * from Map_user",myconnection)

In [30]:
#Table Top_transaction
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

cursor.execute("create table Top_transaction(State varchar(100),Year int,Quaters int,Pincodes bigint,Transaction_count bigint,Transaction_amount bigint)")

sql="insert into Top_transaction(State,Year,Quaters,Pincodes,Transaction_count,Transaction_amount)values(%s,%s,%s,%s,%s,%s)"

for i in range(len(Top_trans)):
    cursor.execute(sql,tuple(Top_trans.iloc[i]))
    myconnection.commit()

Top_transaction=pd.read_sql_query("select * from Top_transaction",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1445115855.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Top_transaction=pd.read_sql_query("select * from Top_transaction",myconnection)

In [32]:
#Table Top_user
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

cursor.execute("create table Top_user(State varchar(100),Year int,Quaters int,Pincodes int,RegisteredUser bigint)")

sql="insert into Top_user(State,Year,Quaters,Pincodes,RegisteredUser)values(%s,%s,%s,%s,%s)"

for i in range(len(Top_user)):
    cursor.execute(sql,tuple(Top_user.iloc[i]))
    myconnection.commit()

Top_user=pd.read_sql_query("select * from Top_user",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\885347439.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Top_user=pd.read_sql_query("select * from Top_user",myconnection)

In [34]:
#sql_connection 
myconnection=pymysql.connect(host="127.0.0.1",
                             user="root",
                             password="kishore22",
                             database="Phonepe")

cursor=myconnection.cursor()

#Aggregated_transaction
Aggregated_transaction=pd.read_sql_query("select * from Aggregated_transaction",myconnection)

#Aggregated_user
Aggregated_user=pd.read_sql_query("select * from Aggregated_user",myconnection)

#Map_transaction
Map_transaction=pd.read_sql_query("select * from Map_transaction",myconnection)

#Map_user
Map_user=pd.read_sql_query("select * from Map_user",myconnection)

#Top_transaction
Top_transaction=pd.read_sql_query("select * from Top_transaction",myconnection)

#Top_user
Top_user=pd.read_sql_query("select * from Top_user",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1887253604.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Aggregated_transaction=pd.read_sql_query("select * from Aggregated_transaction",myconnection)
C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1887253604.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Aggregated_user=pd.read_sql_query("select * from Aggregated_user",myconnection)
C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1887253604.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Map_transaction=pd.read_sql_query("select * from Map_transaction",myconnection)

C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1887253604.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Map_user=pd.read_sql_query("select * from Map_user",myconnection)
C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1887253604.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Top_transaction=pd.read_sql_query("select * from Top_transaction",myconnection)
C:\Users\kishore kumar\AppData\Local\Temp\ipykernel_35560\1887253604.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Top_user=pd.read_sql_query("select * from Top_user",myconnection)